.body {
  /* text-align: center; */
}

.firstContainer{
  height: 100vh;
  min-height: 320px;
}

.titleContainer{

}

.title{
  margin-bottom: 8vh;
}

.profileContainer{
  height: 90vh;
  min-height: 800px;
  /* margin-top: 7vh;
  margin-bottom: 12vh; */
}

.profileImage{
  width: 80%;
  margin: 10%;
}

.programmerContainer{
  min-height: 500px;
  height: 100vh;
}

.programmerTitle{
  margin-bottom: 1.5rem;
}

.programmerLabel{
  /* text-align: right; */
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.progress{
  height: 4px !important;
  width: 65%;
}

.seeMoreButton{
  margin-top: 2.5rem !important;
}