.leftFixed{
    bottom: 10%;
    right: 88%;
}
.rightFixed{
    bottom: 10%;
    left: 88%;
}
.verticalRule{
    width: 2px;
    height: 100px;
}
.vertical{
    rotate: 90deg;
}

.vl {
    border-left: 6px solid black;
    height: 500px;
  }